body{
    padding: 20px;
    margin: 0;
}

.escenario{
    margin: 10px;
    border: 1px solid #333;
    padding: 10px;
}

.escenario-1{
    font-size: 32px;
}
.escenario-1{
    font-size: 16px;
}

.em {
    font-size: 2em;
}

.rem{
    font-size: rem;
}

