.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo{
    width: 50%;
    height: 50%;
    background-color: beige;
    /*transition: transform 1s cubic-bezier(0.77,0.11,0.5,1.44); desde google inspeccion*/
    /*transition: transform 1s ease-in 2s;*/
}

.padre:hover .hijo{
    /*transform: translateX(100%);
    bakground-color: blueviolet;*/
    animation-play-state: paused;
}

@keyframes traslacion{
    0%{
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    } 
    25%{
        background-color: beige;
        transform: translateX(100%) translateY(0%);
    } 
    50%{
        background-color: red;
        transform: translateX(100%) translateY(100%);
    }
    75%{
        background-color: red;
        transform: translateX(0%) translateY(100%);
    }
    100%{
        background-color: darkgoldenrod;
        transform: translateX(0%) translateY(0%);
    }
}